{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Contact - {% endblock %}
{% block body %}

<div class="container">
<div class="row justify-content-around">
    <div class="col-4">
      <div class="card" style="width:400px">
    <img class="rounded" src="img\contact\yoan.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Yoan Guiraud</h4>
      <p class="card-text">Notre chef de groupe</p>
      <a href="https://www.facebook.com/yoan.grd" class="btn btn-primary stretched-link">Voir profil</a>
    </div>
    
{% endblock %}