{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Nos équipements - {% endblock %}
{% block body %}

	<h1>Page Equipement</h1>

{% endblock %}