{% extends 'base.html.twig' %}



{% block body %}

<div class="container">
    <div class="row animated jello" style="margin-left:23%">
        <div class="col-sm-12">
            <h1>Le Lycée Bourdelle</h1>
        </div>
    </div>
<hr><br>
    <div class="row animated bounce" style="margin-left:0%">
        <div class="col-sm-6">
      
        </div>
        <div class="col-sm-6">
            <h5></h5>
        </div>
    </div>
<br><br><hr><br>

    <div class="row animated bounce" style="margin-left:19%">
        <div class="col-sm-6">
            <h5></h5>
        </div>
    </div>





{% endblock %}