{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
<div class="row justify-content-around">
    <div class="col-4">
      <div class="card" style="width:400px">
    <img class="rounded" src="img\accueil\yoan.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Yoan Guiraud</h4>
      <p class="card-text">Notre chef de groupe</p>
      <a href="https://www.facebook.com/yoan.grd" class="btn btn-primary stretched-link">Voir profil</a>
    </div>
    </div>
    <div class="col-4">
     <div class="card" style="width:400px">
    <img class="card-img-top" src="img\accueil\perso.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Bryan Heller</h4>
      <p class="card-text"></p>
      <a href="" class="btn btn-primary stretched-link">Voir profil</a>
    </div>
    </div>
{% endblock %}