{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Connexion - {% endblock %}
{% block body %}

    <H1>Connexion !</H1>

    <form  action="{{ path('security_login')}}" method="post">

        <div class="form-group">
            <input type="text" placeholder="Entrer votre email" required name="_username" class="form-control">
        </div>
        
        <div class="form-group">
            <input type="password" placeholder="Entrer votre mot de passe" required name="_password" class="form-control">
        </div>
        
       	<div class="form-group">
    		<button type="submit" class="btn btn-success">Se connecter</button>
		</div>
    </form>
    
{% endblock %}